/*@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
	font-family: 'puls';
	src:url('../fonts/puls.eot?o9zuu1');
	src:url('../fonts/puls.eot?#iefixo9zuu1') format('embedded-opentype'),
		url('../fonts/puls.woff?o9zuu1') format('woff'),
		url('../fonts/puls.ttf?o9zuu1') format('truetype'),
		url('../fonts/puls.svg?o9zuu1#puls') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
	content: "\e600";
	margin: 0.8em;
}

.icon-star:before {
	color: #ffbe2c;
	content: "\e601";
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;
	/*margin-top: 0.1em;*/
}

.icon-arrow-down:before {
	color: #dd4f24;
	content: "\e602";
}

.icon-arrow-up:before {
	color: green;
	content: "\e603";
}


a {
	color: #22bce0;
}

body {
	display: none;
	background-color: black;
	background: #eeeeee;
	font-family: 'monotype corsiva','Dancing Script', cursive, 'Open Sans' !important;
	color:#fff !important;
	font-size: 16px;
}

body h1 {
	margin-top: 0px !important; 
}

footer{
	color: rgba(255,255,255,0.7);
	background-color: #666666;
	padding: 1em;
	text-align: center;
}

footer p:first-child{
	margin-bottom: 0;
}

footer p:last-child{
	margin-top: 0;
}

footer p:last-child:after{
	content: " -";
}

footer p:last-child:before{
	content: "- ";
}

header{
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	/*background-color: #111111;*/
	color: #ffffff;
	overflow: hidden;
	position: relative;
}

header figure {
	float: left;
}

header h1 {
	width: auto;
	margin: 0 auto;
	font-size: 2em;
	font-weight: normal;
	padding: 0.2em 110px 0.2em 0;
	text-align: center;
}

header h2 {
	/*color: #55748D;*/
	width: auto;
	margin: 0 auto;
	color: #bbbbbb;
	font-size: 1.3em;
	font-weight: normal;
	margin: 0em 110px 0.5em 0;
	text-shadow: rgba(176, 112, 14, 0.5) 2px 2px 5px;
	text-align: center;	
}

header i{
	color: rgba(243,226,199,0.3);
}

header #avatar {
	margin: 0.5em 0 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
header #avatar img {
	max-width: 100%;
    max-height: 100%;
    height: 55px;
	width: auto;
	/*border-radius: 50%;*/
}

header #logo {
	border-right: 3px groove #444444;
	margin-right: 0.5em;
    background-image: url('../img/fondo_logo.jpg');
	background-repeat: no-repeat;
}

header #logo .giroamplio:hover{
	width: 105px;
    height: 105px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
}

header #logo .giroamplio { 
	height: 70px;
	margin-right: 0.5em;
	width: 70px;
	/*-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;*/
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

header #logo img:hover{
	width: 105px;
    height: 105px;
	-webkit-transform:rotate(-270deg);
	-moz-transform:rotate(-270deg);
	-o-transform:rotate(-270deg);
	-ms-transform:rotate(-270deg);
}

header #logo img {
	/*margin-right: 0.5em;*/
	-webkit-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
	-ms-transition:1s;
}

header #logo .bajo {
	/*height: 70px;*/
	position:relative;
	overflow:hidden;
}

header #logo .sobre {
	height: 70px;
	position:absolute;
	top:0px;
	left:0px;
}

html{
	background-color: black;
}

nav{
	box-shadow: rgba(0,0,0,0.5) 0px 2px 10px;
	background: #020203; /* #80*/
	padding: 0.6em 7em 0 0;
	position: absolute;
	margin: 0px !important;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul #publicar_nav{
	position: absolute;
	right: 0;
	top: -0.4em;
}

nav ul #publicar_nav a{
	background: #794977;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	color: rgb(236, 159, 15);
	font-style: italic;
	padding: 0.8em 0.5em 0.8em 2.5em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

nav ul #publicar_nav a:before{
	color: rgb(236, 159, 15);
	position:absolute;
	left:0.1em;
	top:0;
}

nav ul #publicar_nav a:hover:before{
	font-size: 1.2em;
	-webkit-transition:0.3s;
	color: rgb(176, 112, 14);
}

nav ul #publicar_nav a:hover{
	-webkit-transition:0.3s;
	color: rgb(176, 112, 14);
}

nav ul li{
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a{
	color: white;
	display: block;
	padding: 0.4em;
	-webkit-transition:0.3s;
	text-shadow: rgba(255,255,255,0.9) 0px 0px 15px;
}
nav ul li a:hover{
	color: black;
	background: #E9AE31;
	text-shadow: rgba(167,0,255,0.9) 0px 0px 15px;
}

aside {
	display:none;
}

#contenido{
	background: rgba(33,33,33,1);
	padding: 1em 0 1em 0;
}

#contenido .item{
	border-bottom: 3px solid #22bce0;
	margin-bottom: 2em;
	min-height: 128px;
	position: relative;
}

#contenido .item .autor_item{
	color: #aaa;
}
#contenido .item .datos_item{
	margin: 1em 1em 0 0;
	text-align: right;
}

#contenido .item .datos_item{
	color: #aaa;
}

#contenido .item .datos_item .tag_item
{
	background: #f4502a;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	float:left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#contenido .item .image_item{
	float:left;
	margin: 0 1em 0 0;
}

#contenido .item .image_item img{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1.2em;
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion{
	background: rgba(255,255,255,1);
	border-radius: 0 0 0.5em 0.5em;
	left: 0.5%;
	margin-top: 3px;
	position: absolute;
	top: 100%;
	width: 99%;
}
#contenido .item .votacion a{
	text-decoration: none;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item{
	float: right;
}

#logo-home{
	width: auto;
	margin: 0 auto;
}


.blacked{
	font-weight: bold;
	color: black;
	text-shadow: rgba(255,255,255,0.8) 0px 0px 5px;
}

.whited{
	color: white;
	text-shadow: rgba(167,0,255,0.8) 0px 0px 10px;
}

.img-oferta{
	min-width: 150px !important;
	margin: 0 auto;
	max-height: 600px !important;
}

.logo-lat{
	min-width: 60px !important;
	margin: 0 auto;
}

.luznegra{
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(167,0,255,0.8));
	-moz-filter: drop-shadow(0px 0px 10px rgba(167,0,255,0.8));
	-ms-filter: drop-shadow(0px 0px 10px rgba(167,0,255,0.8));
	-o-filter: drop-shadow(0px 0px 10px rgba(167,0,255,0.8));
	filter: drop-shadow(0px 0px 10px rgba(167,0,255,0.8));
}

.luznegra:hover{
	-webkit-filter: drop-shadow(0px 0px 30px rgba(167,0,255,0.8));
	-moz-filter: drop-shadow(0px 0px 30px rgba(167,0,255,0.8));
	-ms-filter: drop-shadow(0px 0px 30px rgba(167,0,255,0.8));
	-o-filter: drop-shadow(0px 0px 30px rgba(167,0,255,0.8));
	filter: drop-shadow(0px 0px 30px rgba(167,0,255,0.8));
}

.rounded{
	border-radius: 3px;
}

.subtitulo {
    background: rgba(255,255,255,0);
    position: relative;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}

.tablon {
	padding: 0 !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {color: #BBBBBB;	/*background:red; left:0px; top:0px;*/}
    25%  {color: #666666;	/*background:yellow; left:200px; top:0px;*/}
    50%  {color: #AAAAAA;	/*background:blue; left:200px; top:200px;*/}
    75%  {color: #666666;	/*background:green; left:0px; top:200px;*/}
    100% {color: #BBBBBB;	/*background:red; left:0px; top:0px;*/}
}

/* Standard syntax */
@keyframes myfirst {
  	0%   {color: #BBBBBB;	/*background:red; left:0px; top:0px;*/}
    25%  {color: #666666;	/*background:yellow; left:200px; top:0px;*/}
    50%  {color: #AAAAAA;	/*background:blue; left:200px; top:200px;*/}
    75%  {color: #666666;	/*background:green; left:0px; top:200px;*/}
    100% {color: #BBBBBB;	/*background:red; left:0px; top:0px;*/}
}


@media screen and (min-width: 768px){ /*ancho de ipad*/
	
	/*body{
		background: red;
	}*/

	#contenido
	{
		overflow:hidden;
	}

	#contenido .item {
		width: 49%;
		float: left;
	}

	#contenido .item:nth-child(odd) {
		margin-right: 2%;
	}
}

@media screen and (min-width: 1000px){
	aside{
		display: block;
		float: right;
		margin: 1em;
		width: 20%;
	}
	
	aside video{
		width: 100%;
	}
}

/****
FORMULARIO
*/
.form{
	padding: 1em;
	text-align: right;
	display:none;
}

.form input{
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}

.form input[type="submit"]{
	background: #22bce0;
	border-color: #22bce0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	color: white;
	font-style: italic;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}